
.App {
  text-align: center;
  margin-top: 50px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;  /* Centers content vertically */
  z-index: 9999;  /* Ensures the modal is above everything */
}

.modal-content {
  background-color: var(--dark-bg);
  padding: 20px;
  border-radius: 5px;
  text-align: center;


  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow for better visibility */
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
