
.App {
  text-align: center;
  margin-top: 50px;
}

.cls-1 {
  fill: #d33d00;
  stroke-width: 0px;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
