# Node modules (both frontend and backend)
node_modules/
server/node_modules/
client/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables (sensitive info)
.env

# Build files (React)
client/build/

# Docker
*.env.local

docker-compose.override.yml
docker-compose.override.yaml

# Dependency directories
/.pnp
.pnp.js

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Database data (MySQL)
db_data/

# Miscellaneous
*.swp
